/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  background-color: #f2f2f2;
}
.hero{
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),url(/assets/image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style-type: none;
  
}
.nav-items{
  display: flex;
  gap: 20px;
}
.logo a{
  color: black;
  font-size: 1.5em;
  font-weight: 700;
}
.logo a span {
  color: #EEA914;
}
.cen-con{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.center-text p,
.center-text h1,
.changing-text h3 {
  margin: 0;
  padding: 0;
}
.center-text p{
font-weight: 500;
font-size: 16px;
}
.center-text h1{
  font-size: 60px;
}
.changing-text span{
  color: #EEA914;
  font-size: 20px;
 
} */